allow init omr_file:dir mounton;
allow init tee_device:chr_file rw_file_perms;
allow init hidl_base_hwservice:hwservice_manager add;
allow init sysfs:file setattr;
allow init vendor_file:file execute;

