allow vold tee_device:chr_file {ioctl open read write};
allow vold vendor_file:file { getattr open read };
 allowxperm vold loop_device:blk_file ioctl LOOP_GET_STATUS64;